In [1]:
import pandas as pd
import requests
import json

In [2]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.columns = df.columns.str.lower().str.replace(" ", "_")

binary_values = {
    'no': 0,
    'yes': 1
}
df["y"] = df["y"].map(binary_values)

del df['loan']
del df['housing']
del df['day_of_week']
del df['marital']
del df['education']
del df['default']

In [10]:
samples = df.sample(n=5)
samples

,age,job,contact,month,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
30312,58,retired,cellular,apr,430,1,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,1
29120,41,blue-collar,cellular,apr,251,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
7739,40,services,telephone,may,288,3,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,0
32951,31,technician,cellular,may,66,4,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,0
6810,30,blue-collar,telephone,may,25,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [11]:
# url = 'http://localhost:9696/predict'
url = 'https://bank-marketing-system.herokuapp.com/predict'

for sample in samples.apply(lambda x: json.loads(x.to_json()), axis=1):
    val = sample.pop('bank-marketing-system', None)
    response = requests.post(url, json=sample).json()
    print(response, val)

{'subscribe_term_deposit': True, 'subscribe_term_deposit_probability': 0.85051029920578} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.045047029852867126} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.006124473642557859} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 0.00046355684753507376} None
{'subscribe_term_deposit': False, 'subscribe_term_deposit_probability': 9.63041529757902e-05} None